h2 {
  border-bottom: solid 1px #d7d7db;
  line-height: 2em;
}

.keyboardShortcuts label {
  width: 220px;
  display: inline-block;
  line-height: 2em;
}

.keyboardShortcuts button {
  text-align: center;
  margin: 0em;
}

.keyboardShortcuts input {
  width: 120px;
}

.input-radio-image {
  display: inline-block;
  padding-right: 10px;
  position: relative;
  text-align: center;
  height: 40px;
  width: 40px;
}

.input-radio-image label {
  height: 60px;
}

.input-radio-image label::before,
.input-radio-image label img {
  width: 40px;
  height: 40px;
}

#optionsView .input-radio-image,
#optionsView .input-radio-image label,
#optionsView .input-radio-image label::before,
#optionsView .input-radio-image label img,
#optionsView .input-radio-image input {
  width: 76px;
}

.input-radio-image input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.input-radio-image label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-radio-image input:checked ~ label:before {
  content: '';
  border: 2px solid #0a84ff;
  position: absolute;
  top: 0;
}

.input-radio-image--extended img {
  padding-bottom: 2px;
}

.input-radio-image--extended input ~ label:before {
  content: '';
  outline: 2px solid #737373;
  position: absolute;
  top: 0;
}

.input-radio-image--extended input:checked ~ label:before {
  border: none;
  outline-color: #0a84ff;
}

#optionsNativeGroups {
  margin: 2em 0;
}

#nativeGroupsContainer {
  margin: 1em 0;
}

#nativeGroupsWarning {
  margin: 0.5em 0 0 1.5em;
  font-size: 0.9em;
}

.info-text {
  color: #0060df;
}

.warning-text {
  color: #ff9400;
}

.error-text {
  color: #d70022;
}
